<html>
  <head>
    <script>   
        $(function()
        {
          $('#carousel slide').carousel();
        });


         $('.carousel-control.prev').click(function() {
        $('#carouselExampleControls').carousel('prev');
                                                     });

          $('.carousel-control.next').click(function() {
           $('#carouselExampleControls').carousel('next');
                                                    }); 


        </script>
       <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
        crossorigin="anonymous"> -->
      </head>
   <body>
   
<div class="page">
  <h1>{{sitename}}</h1>                                               <!-- Specifies MailGob logo-->

  <!--Navigation Bar (top right) Home Page -->
  <nav class="navbar navbar-inverse" >                                 
      <ul style="float:right" class="nav navbar-nav" >
        <li ><a [routerLink]="'Home'">Home</a></li>     <!-- Links to all elements in navigation bar -->
        <li class="active"><a [routerLink]="'About'">About</a></li>
        <li class="active"><a [routerLink]="'Features'">Features</a></li>
        <li class="active"><a [routerLink]="'Pricing'">Pricing</a></li>
        <li class="active"><a [routerLink]="'Blog'">Blog</a></li>
        <li class="active"><a [routerLink]="'Contact'">Contact</a></li>
      </ul>
  </nav>


<!--Carousel begins-->

 <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <font size=7 color=white > <u>BEST EMAILING SOLUTION                  </u></font><br> 
        <font size=3 color=white>FOR  SMALL  TO  LARGE  SCALE  ENTERPRISES.</font>
       
      </div>
      <div class="item">
       <font size=7 color=white> <u>GROW YOUR BUSINESS</u></font><br>
       <font size=3 color=white> WITH  MAILGOB </font>
      </div>
      <div class="item">
          <font size=7 color=white><u>EXCEPTIONAL EXPERIENCE</u></font><br>
            <font size=3 color=white>WE  MAKE  IT  HAPPEN</font>
      </div>
    </div>
   </div>
  </div>

        <h2>Why Choose Us</h2><br><br>
<!-- 6 center Images on home page-->
    <div>
      <ul>
        <li> 
           <img [src]="templategob1" alt="Template image1" height="300" width="420"/> 
           <img [src]="templategob2" alt="Template image2" height="300" width="420"/>
           <img [src]="templategob3" alt="Template image3" height="300" width="420"/>
        </li>
       
        <p> &nbsp;Marketing-Services Technology-Solutions News-&-Resources </p>
        <li>
           <img [src]="templategob4" alt="Template image4" height="300" width="420"/>
           <img [src]="templategob5" alt="Template image5" height="300" width="420"/>
           <img [src]="templategob6" alt="Template image6" height="300" width="420"/>
        </li>

    
      <p>&nbsp; Webinars Email-Marketing Solutions </p>
    </ul>
    </div>

    <!-- Try our free plan Sign-up-->
     <div class="plan">
      <ul>
        
        <li class="active"><font size=5 color=white>Try our free plan</font> &nbsp; &nbsp;&nbsp; &nbsp; <a [routerLink]="'SignUp'"><font size=6> SignUp</font></a></li>  
        
      </ul>
    </div> 
   


<!--Carousel begins-->

 <!--  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img class="d-block img-fluid" [src]=business1 alt="First slide "height="500" width="800" >
    </div>
    <div class="item">
      <img class="d-block img-fluid" [src]=business2 alt="Second slide "height="500" width="800">
    </div>
    <div class="item">
      <img class="d-block img-fluid" [src]=business4 alt="Third slide "height="500" width="800">
    </div>
  </div>

    <!-- Carousel previous/next controls 
     <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
     <!-- Carousel previous/next controls ends 

</div> -->
  <!-- Carousel ends-->


  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
           
           <img class="d-block img-fluid" [src]=business1 alt="First slide"> 
        </div>
        <div class="item">
          <img class="d-block img-fluid" [src]=business2 alt="Second slide">
        </div>
        <div class="item">
          <img class="d-block img-fluid" [src]=business3 alt="Third slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    
    <h2>Choose from wide range of templates</h2><br><br>
           
    <!-- 8 Images for templates -->

    <div>
        <ul>
          <li> 
             <img [src]="template1" alt="Template1" height="220" width="300" />..
             <img [src]="template2" alt="Template2" height="220" width="300"/>..
             <img [src]="template3" alt="Template3" height="220" width="300"/>..
             <img [src]="template4" alt="Template4" height="220" width="300"/>..
          </li><br><br>
          <li>
             <img [src]="template5" alt="Template5" height="220" width="300"/>..
             <img [src]="template6" alt="Template6" height="220" width="300"/>..
             <img [src]="template7" alt="Template7" height="220" width="300"/>..
             <img [src]="template8" alt="Template8" height="220" width="300"/>..
          </li>
        </ul>
      </div>
    <!-- template code ends-->

   <!--  <div class="carousel">
        <ul class="slides">
          <li>
            <h2>Business1</h2>
            <!-- <img [src]="business1" alt="Business1"/> 
            <img [src]="business1" alt="Business1" height="300" width="430"/>
          </li>
      
          <li>
            <h2>Business2</h2>
            <img [src]="business2" alt="Business2" height="300" width="430"/>
          </li>
      
          <li>
            <h2>Business3</h2>
            <img [src]="business3" alt="Business3" height="300" width="430"/>
          </li>
      
          <li>
            <h2>Business4</h2>
            <img [src]="business4" alt="Business4" height="300" width="430"/>
          </li>
      
          <li>
            <h2>Business5</h2>
            <img [src]="business5" alt="Business5" height="300" width="430"/>
          </li>
      
        </ul>
      
      </div>   
 -->



 <!--   Our Clients  -->

 <h2>Our Clients</h2>

 <!-- Try our free plan Sign-up-->
 <div class="client">
    <ul>
        <li>
            <img [src]="mailingwork_logo" alt="Mailing Work logo" height="300" width="300" />
        </li>
      
    </ul>
  </div> 

<!--Footer Begins-->
<footer>
  <section>
      <!-- Column one start -->
    
  <ul>
    <li><u>Learn More</u><li><br>
    <li>Features</li><br>
    <li>Pricing Plans</li><br>
    <li>Start Free</li><br>
    <li>FAQ</li><br>
  </ul>

      <!-- Column one end -->
  </section>
  <section>
      <!-- Column two start -->
         
      <ul>
      <li><u>About</u></li><br>
      <li>Company</li><br>
      <li>Marketing Blog</li><br>
      <li>Press Release</li><br>
      <li>Support</li><br>
</ul>

      <!-- Column two end -->
  </section>
  <section>
      <!-- Column three start -->
          
      <ul>
        <li><u>Need Help</u> </li><br>
        <li>Call Us:</li>
        <li>{{phone}}</li><br>
        <li>Enquiry:</li>
        <li>{{enquiry}}</li> <br>
        <li>Sales:</li>
        <li>{{sales}}</li>
     </ul>

      <!-- Column three end -->
  </section>
  <section>
      <!-- Column four start -->
    
    <ul>
      
      <li><u>Connect</u></li> 
      <li>
      <img [src]="facebook_logo" alt="Facebook logo" height="30" width="30" />&nbsp;&nbsp;&nbsp;&nbsp;
      <img [src]="twitter_logo" alt="Twitter logo" height="30" width="30"/>&nbsp;&nbsp;&nbsp;&nbsp;
      <img [src]="instagram_logo" alt="Instagram logo" height="30" width="30"/>
      </li> <br>
       <li> <u>Newsletter</u><br><br>
        <form>
          <input type="text" name="Newsletter">
        
      <button type="button" style=background-color:grey>SignUp</button>
    </form>
      </li>
      
     </ul>

      <!-- Column four end -->
  
  </section>
</footer>

<!-- <div class="footer">        
  <div class="footer-left">
    <a [routerLink]="'Footer'">Learn More</a> 
    <a [routerLink]="'Footer'">Features</a> 
    <a [routerLink]="'Footer'">Start Free</a> 
    <a [routerLink]="'Footer'">Pricing plans</a>
     <a [routerLink]="'Footer'">FAQ</a>
  
  </div>
  <div class="footer-center2">
    <h4><a [routerLink]="'Footer'">About</a> <br>         <a [routerLink]="'Footer'">Company </a><br>
        <a [routerLink]="'Footer'">Marketing Blog </a><br> <a [routerLink]="'Footer'">Press Release</a><br>
        <a [routerLink]="'Footer'">Support</a></h4>
  </div>
  <div class="footer-right">
    <h4><a [routerLink]="'Footer'">Need Help</a><br> <a [routerLink]="'Footer'">Call us</a> <br>
        <a [routerLink]="'Footer'">Enquiry </a> <br> <a [routerLink]="'Footer'">Press Release</a><br>
        <a [routerLink]="'Footer'">Sales</a></h4>
  </div>

  <form>
    Newsletter<br>
    <input type="text" name="Newsletter"><br>
  </form>
  <button type="button">SignUp</button>

</div>-->

<!--Footer Bottom-->

<div class="bottom" id="bottom">
    <div class="footer-bottom1">
       <font size=1>Privacy Policy| Terms & Conditions| Anti-Spam Policy </font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div class="footer-bottom2">  
       <font size=1>Copyright 2016 @ mailgob. All rights reserved</font>
    </div>
</div>


<!-- Footer Ends-->
</body>
</html>