 h1{ 
    color:white;
}   

h2{                                                /* Design for " Why Choose Us" */
    text-align:center;
    color: black;    
    
}

h4{                                                
    text-align:center;
}
h6{
    color:white;
    /* background-color: black; */
} 
/* p{
    word-spacing: 150px;
    font-size:220%;
} */

.page{ 

    background-image:url("gob.png");              /* Specifies background image for the main page*/
    position: relative;
    min-height: 672px;
    min-width: 100%;
    background-repeat:repeat;    
} 
.navbar{
    background-color: none;
    overflow:auto;
}


.image-center{
    max-width:300px;
    padding:30px 30px;
}
.center-row{
    padding:45px 45px;
    display:inline-block;
    width:33%;
    text-align: center;
    font-weight:bold;
   
}

.template-image{
    padding:10px;
    
}
.template-row{
    padding:10px 25px;
    display:inline-block;
    width:24%;
}

.underline{
    text-align: center;
    color:red;
    font-weight:bolder;
}

 li{
    list-style-type: none;                         /* Aligning navigation bar*/
    }  

a{                                               /*color for elements in nav-bar */

    color:white;
}         
 
ul {                                            /*Remove default bullets,margin and padding from the list items*/
    list-style-type: none;
    margin:40px;                                /*Adds margin to navbar*/
}  
 
.item{
    font-weight:bold;
}
 #carouselExampleSlidesOnly{
    float: left;
    margin: 160px 150px;                        /*Adjusts the position of slides relative to the image*/
    width: 80%;
}

#carouselExampleControls img{
   
    position: relative; 
    display: inline-block; 
     width: 100%;
    height: 525px;
    max-height: 625px; 
    padding: none;
     overflow:hidden; 
    
    }
    .glyphicon-menu-left {
        position: absolute;
        top: 50%;
        left: 40px;
        
     }
     .glyphicon-menu-right{
       position:absolute;
        top: 50%;
        right: 40px;
        
     }

    .glyphicon
    {
        font-size: 40px;
        color:black;
    }

    .glyphicon:hover
    {
        color:orangered;
    }
    
.plan{                                  /*Design element for Signup*/
    background-color:black;
    text-align:center;
    line-height: 100px;
}
.client{                                /*three logos of client before footer*/
    background-color:#EFECEC;
   /*  padding: 4em; */
    padding:10px;    
}

.logo{                                  /*Spacing each logo within client*/
    padding:25px 25px;
    display:inline-block;
    width:33%;
}
footer {                                        /*Design for all footer elements*/
    display: table;
    background-image:url("footer.jpg");
    min-height: 350px;
    min-width: 100%;
    background-repeat:repeat;
    color:#E7E0E0;
    color: white;
}


footer > section {text-align: left;

    display: table-cell;
    padding: 2em;
}

footer > section + section {
    border-left: 1px none;
}

/* .bottom{
    background-color: black;
    color:white;
} */

#bottom {                               /*line below footer*/
    background-color:black;
    color:white;
    line-height:30px;
    padding:5px 80px 10px 100px;
    overflow: auto;
}
#footer-bottom1{            /*Design for bottom-most elements in footer (Privay Policy)*/
   float:left;
    
}
#footer-bottom2{            /*Design for bottom-most elements in footer (Copyright)*/
   float:right;
}  